{% extends "layout.html" %}
{% block body %}

<section class="compose-thread">
<form method="post" action="/threads">
<fieldset>
    <legend>New Thread</legend>
    {{ form.topic_id.label }}
    {{ form.topic_id() }}
    {{ form.title.label }}
    {{ form.title() }}

    {{ form.content.label }}
    {{ form.content() }}

    <div class="preview"></div>

    <button type="submit">post</button>
</fieldset>
</form>
</section>

{% endblock %}

{% block js %}
<script>
    $(function() {
        var $preview = $('.preview');
        var $content = $('#content');

        var updatePreview = function() {
            var content = $content.val();
            console.log(content);
            $.ajax({
                url: '/preview',
                type: 'POST',
                data: {
                    content: content
                }
            }).done(function(content) {
                $preview.html(content); 
            });
        };

        var throttledPreview = _.throttle(updatePreview, 500);

        $content.on('keyup', throttledPreview);
    });
</script>
{% endblock %}
