{% extends "layout.html" %}
{% block js %}
<script>
    $(function() {
        $(document).on('click', '.toggle-reply', function(e) {
            e.preventDefault();
            $(this).parent().find('.reply-form').fadeIn('fast');
            $(this).hide();
        });

        $(document).on('click', '.cancel-reply', function(e) {
            e.preventDefault();
            $(this).parent().parent().parent().find('.toggle-reply').fadeIn('fast');
            $(this).parent().parent().fadeOut('fast');
        });

    });
</script>
{% endblock %}

{% block body %}
<article class="thread">
<h2>{{ thread.title }}</h2>
<section class="og-post-wrapper">
    <aside class="user-wrapper">
        <img class="avatar" src="{{ thread.author.avatar }}" />
        <p>Posted by <a href="/{{ thread.author.username }}">{{ thread.author.username }}</a> 
        {{ thread.humanPosted()  }}
        </p>
    </aside>

    <div class="og-post">{{ thread.content | safe }}</div>
</section>

<ul class="posts">
    {% for post in thread.posts.order_by('posted asc') %}
    <li class="post">
        <a name="post-{{ post.id }}"></a>

        <aside class="user-wrapper">
            <img class="avatar" src="{{ post.author.avatar }}" />
            <p>Posted by <a href="/{{ post.author.username }}">{{ post.author.username }}</a>
            {{ post.humanPosted()  }}
            </p>

            <a class="post-permalink" href="/threads/{{ thread.id }}/go/#post-{{ post.id }}">permalink</a>
        </aside>

        <section class="content-wrapper">
                <div class="content">{{ post.content | safe }}</div>

                <ul class="replies">
                    {% for reply in post.replies.order_by('posted asc') %}
                    <li class="reply">
                            {{ reply.content | safe }} 

                            <aside class="reply-attribution">
                                <a href="/{{ reply.user.username }}">{{ reply.user.username }}</a>
                                on {{ reply.humanPosted()  }}
                            </aside>
                    </li>
                {% endfor %}
                </ul>

                {% if current_user.is_authenticated() %}
                <button class="toggle-reply" type="button">Reply</button>

                <form class="reply-form" method="post" action="/replies">
                <fieldset>
                    <legend>Reply</legend>
                    {{ replyform.post_id(value=post.id) }}
                    {{ replyform.content(rows=20) }}
                    <button class="cancel-reply" type="button">cancel</button>
                    <button type="submit">Reply</button>
                </fieldset>
                </form>
                {% endif %}
        </section>
    </li>

{% endfor %}
</ul>

<footer>
{% if current_user.is_authenticated() %}
<form method="post" action="/posts">
<fieldset>
    <legend>Reply</legend>
    {{ postform.thread_id(value=thread.id) }}
    {{ postform.content(rows=20) }}
    <button type="submit">Reply</button>
</fieldset>
</form>
{% endif %}
</footer>
</article>
{% endblock %}
