{% extends "layout.html" %}
{% block body %}
{% if current_user.is_authenticated() %}
<form method="post" action="/threads">
<fieldset>
    <legend>New Thread</legend>
    {{ form.topic_id.label }}
    {{ form.topic_id() }}
    {{ form.title.label }}
    {{ form.title(size=(80)) }}

    {{ form.content.label }}
    {{ form.content(rows=20) }}
    <button type="submit">post</button>
</fieldset>
</form>
{% endif %}

{% for topic in topics %}
    {% if topic.threads.count() > 0 %}
        <h2>{{ topic.content }}</h2>
        <ul class="recent-threads">
            {% for thread in topic.threads %}
                <li class="recent-thread"><a href="{{ thread.getUrl() }}">{{ thread.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}

{% endblock %}
