<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">

    <title>DRONELIFE</title>

    <link href="/static/stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/parsleyjs/dist/parsley.min.js"></script>
</head>

<body style="background-image: url(/static/img/{{ session.bgimg }})">
{% block header %}
<header>
    <a href="/">#dronelife</a>{% if current_user.is_authenticated() %}<a href="/profile">Profile</a><a href="/logout">Logout</a>{% else %}<a href="/login">Login</a><a href="/register">Register</a>{% endif %}
</header>
{% endblock %}
<div class="main-wrapper">{% block body %}{% endblock %}</div>{% block js %}{% endblock %}
<script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29860282-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
</body>
</html>
