<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">

    <title>DRONELIFE</title>

    <link href="/static/stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/parsleyjs/dist/parsley.remote.min.js"></script>
    <script src="/static/vendor/parsleyjs/dist/parsley.min.js"></script>
    <script src="/static/vendor/ractive/ractive.min.js"></script>
</head>

<body style="background-image: url(/static/img/{{ session.bgimg }})">
{% block header %}
<nav>
<a href="/">#dronelife</a>{% if current_user.is_authenticated() %}<a href="/profile">Profile</a><a href="/logout">Logout</a><a class="compose-thread" href="/threads/compose">New Thread</a>{% else %}<a href="/login">Login</a><a href="/register">Register</a>{% endif %}
</nav>
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
<section class="flash-messages">
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="message {{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>
{% endwith %}

<main>{% block body %}{% endblock %}</main>{% block js %}{% endblock %}
<script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29860282-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
</body>
</html>
