{% extends "layout.html" %}
{% block body %}
{% if current_user.is_authenticated() and current_user.username == user.username %}
<form method="post" action="/profile">
<fieldset>
    <legend>Profile</legend>
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username(value=user.username) }}

    {{ form.email.label }}
    {{ form.email(value=user.email) }}

    {{ form.website.label }}
    {{ form.website(value=user.website) }}

    {{ form.description.label }}
    {% set f = form.description.process_data(user.description) %}
    {{ form.description() }}

    {{ form.twitter.label }}
    {{ form.twitter(value=user.twitter) }}

    {{ form.facebook.label }}
    {{ form.facebook(value=user.facebook) }}

    {{ form.bandcamp.label }}
    {{ form.bandcamp(value=user.bandcamp) }}

    {{ form.soundcloud.label }}
    {{ form.soundcloud(value=user.soundcloud) }}

    <button type="submit">save</button>
</fieldset>
</form>
{% endif %}

    <h3>{{ user.username }}</h3>

    {% if user.description %}
        <div class="profile-description">{{ user.description }}</div>
    {% endif %}

    {% if user.twitter %}
        <div class="profile-twitter">{{ user.twitter }}</div>
    {% endif %}

{% endblock %}
