<article>
    <header>
        <h3>Recent Posts</h3>
    </header>

    <ul class="recent-posts">
        {% for post in posts %}
            {% if post.thread_id %}
            <li>
                <blockquote>
                    {{ post.content | safe }}
                    <footer>
                        <cite><a href="/{{ post.author.username }}">{{ post.author.username }}</a></cite> 
                        <small><a class="post-permalink" href="/threads/{{ post.thread_id }}/go/#post-{{ post.id }}">{{ post.posted.strftime('%A, %B %d %Y %I:%M%p') }}</a></small>
                    </footer>
                </blockquote>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</article>
