{% extends "layout.html" %}
{% block body %}
<form method="post" action="/register" data-parsley-validate>
    <fieldset>
        <legend>Register</legend>
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(required=true, **{'data-parsley-trigger':"change", 'data-parsley-minlength': 3}) }}
    {{ form.email.label }} {{ form.email(type="email", required=true, **{'data-parsley-trigger':"change"}) }}
    {{ form.password.label }} {{ form.password(required=true, **{'data-parsley-trigger':"change", 'data-parsley-minlength': 8}) }}
    <button type="submit">Register</button>
    </fieldset>
</form>
{% endblock %}
