{% extends "layout.html" %}
{% block js %}
<script src="http://code.jquery.com/jquery-2.1.1.min.js" /></script>
<script>
    $(function() {
        $(document).on('click', '.toggle-reply', function(e) {
            e.preventDefault();
            $(this).parent().find('.reply-form').fadeIn('fast');
            $(this).hide();
        });

        $(document).on('click', '.cancel-reply', function(e) {
            e.preventDefault();
            $(this).parent().parent().parent().find('.toggle-reply').fadeIn('fast');
            $(this).parent().parent().fadeOut('fast');
        });

    });
</script>
{% endblock %}

{% block body %}
<h2>{{ thread.title }}</h2>
<div class="og-post">{{ thread.content | safe }}</div>

<ul class="posts">
{% for post in thread.posts %}
    <li class="post">
        <div class="user-wrapper">
            <img class="avatar" src="{{ post.author.avatar }}" />
            <p>Posted by <a href="/{{ post.author.username }}">{{ post.author.username }}</a></p>
        </div>

        <div class="content-wrapper">
                <div class="content">{{ post.content | safe }}</div>

                <ul>
                {% for reply in post.replies %}
                    <li class="reply">{{ reply.content | safe }}</li>
                {% endfor %}
                </ul>

                {% if current_user.is_authenticated() %}
                <button class="toggle-reply" type="button">Reply</button>

                <form class="reply-form" method="post" action="/replies">
                <fieldset>
                    <legend>Reply</legend>
                    {{ replyform.post_id(value=post.id) }}
                    {{ replyform.content(rows=20) }}
                    <button class="cancel-reply" type="button">cancel</button>
                    <button type="submit">Reply</button>
                </fieldset>
                </form>
                {% endif %}
        </div>
    </li>

{% endfor %}
</ul>

{% if current_user.is_authenticated() %}
<form method="post" action="/posts">
<fieldset>
    <legend>Reply</legend>
    {{ postform.thread_id(value=thread.id) }}
    {{ postform.content(rows=20) }}
    <button type="submit">Reply</button>
</fieldset>
</form>
{% endif %}
{% endblock %}
