<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">

    <title>DRONELIFE</title>

    <link href="/static/stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Mate+SC" rel="stylesheet" type="text/css">
</head>

<body>
    {{ user.email }}
    <h1><a href="https://twitter.com/search/%23dronelife">#DRONELIFE</a></h1>
</body>
</html>
