<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">

    <title>DRONELIFE</title>

    <link href="/static/stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Mate+SC" rel="stylesheet" type="text/css">
</head>

<body>
{% block header %}
<header>
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
</header>
{% endblock %}
{% block body %}{% endblock %}{% block js %}{% endblock %}</body>
</html>
