@import "settings";

@import
   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/type",
   "foundation/components/visibility",
   "emoji/emoji";

$main-base: darken(#F00, 5%);
$main-width: 900px;

body {
    padding: 0;
    background-color: darken(#00F, 10%);
    background-image: url('/static/img/ellen1.png');
    background-size: cover;
}

h1, h2 {
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

h4, h5 {
    color: #fff;
    margin: 5px 0;
    margin-top: 40px;
    padding: 10px;
    font-weight: bold;
}

a {

}

header {
    $nav-base: $main-base;
    width: $main-width;
    margin: 0 auto;

    a {
        display: inline-block;
        background-color: darken($nav-base, 2%);
        color: #fff;
        padding: 10px;
        margin: 0 5px 0 0;
        font-weight: bold;
        text-transform: lowercase;
    }
}

.main-wrapper {
    width: $main-width;
    margin: 0 auto;
}

.recent-threads {
    list-style-type: none;
    margin: 0;
    
    .recent-thread {
        margin: 5px 0;
        background-color: $main-base;

        a {
            display: block;
            padding: 10px;
            color: #fff;
        }
    }
}

.reply-form {
    display: none;
}

.og-post-wrapper, .posts {
    h1, h2, h3, h4, h5, h6 {
        color: #333;
    }
}

.posts {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
}

.og-post-wrapper {
    @include grid-row();
    margin: 0;
    max-width: none;

    padding: 10px;
    background-color: #fafafa;

    .og-post {
        @include grid-column(10);
        padding: 10px;
    }
}

.post {
    @include grid-row();

    margin: 5px 0;
    padding: 0;
    max-width: none;

    .content-wrapper {
        padding: 10px;
        background-color: #fafafa;
        @include grid-column(10);
    }

    .user-wrapper {
        font-weight: bold;

        p {
            color: #fff;
        }
    }
}

.user-wrapper {
    @include grid-column(2);
    padding: 0;
    padding-right: 10px;

    p {
        font-size: 12px;
    }

    .avatar {
        display: none;
        width: 100%;
        min-height: 40px; // just for testing
        border: 1px solid #ddd;
    }
}



