@import "settings";

@import
   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/type",
   "foundation/components/visibility",
   "compass/css3",
   "emoji/emoji";

$main-width: 900px;
$main-base: $primary-color;

@import "parsley";
@import "admin";

body {
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: #000 1px 1px 0;

    a {
        color: #fff;
    }
}

h4, h5 {
    margin: 5px 0;
    margin-top: 40px;
    padding: 10px;
}

a {

}

fieldset {
    background-color: rgba(0,0,0,0.8);
    border: none;

    legend {
        padding: 7px 8px 5px 8px;
    }

    label {
        color: #fff;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

nav {
    $nav-base: $main-base;
    max-width: $main-width;
    margin: 0 auto;
    @include clearfix();
    background-color: transparentize(darken($nav-base, 20%), 0.1);
    padding: 5px 0 5px 5px;

    a {
        display: inline-block;
        background-color: darken($nav-base, 2%);
        color: #fff;
        padding: 10px;
        margin: 0 5px 0 0;
        font-weight: bold;
        text-transform: lowercase;

        &.compose-thread {
            float: right;
            color: darken($nav-base, 2%);
            background-color: #fff;
            font-weight: bold;
        }
    }
}

main {
    @include grid-row();
    max-width: $main-width;
    margin: 0 auto;
}

#login-form {
    fieldset {
        @include clearfix();
    }

    .forgot-password {
        float: right;
        padding: 20px;
    }
}

.flash-messages {
    padding: 5px;

    ul {
        list-style-type: none;
        max-width: $main-width;
        margin: 0 auto;
        padding: 0;

        .message {
            background-color: $info-color;
            color: darken($info-color, 40%);
            padding: 10px;
            padding-bottom: 6px;
            text-align: center;
            border-bottom: 4px solid darken($info-color, 10%);
            font-weight: bold;

            &.error {
                background-color: $alert-color;
                border-bottom: 4px solid darken($alert-color, 10%);
                color: darken($alert-color, 40%);
            }

            &.warning {
                background-color: $warning-color;
                border-bottom: 4px solid darken($warning-color, 10%);
                color: darken($warning-color, 40%);
            }

            &.success {
                background-color: $success-color;
                border-bottom: 4px solid darken($success-color, 10%);
                color: darken($success-color, 40%);
            }
        }
    }
}

.unread-threads-message,
.unread-posts-message {
    background-color: $success-color;
    border-bottom: 4px solid darken($success-color, 10%);
    width: $main-width;
    margin: 2px auto;

    a {
        display: block;
        color: #fff;
        padding: 5px;
        text-align: center;
    }
}

.main-column {
    @include grid-column(7);
    padding: 0;
}

.sidebar {
    @include grid-column(5);
    padding: 0;
    padding-left: 5px;
}

.thread-list {
    list-style-type: none;
    margin: 0;

    .thread {
        margin: 5px 0;
        background-color: transparentize($main-base, 0.15);

        .heading {
            @include grid-row();
        }

        .title {
            @include grid-column(11);
            display: block;
            padding: 10px;
            color: #fff;
        }

        .post-count {
            @include grid-column(1);
            color: #fff;
            font-weight: bold;
            text-align: right;
            padding: 10px;
        }

        .info {
            background-color: rgba(255,255,255,0.95);
            color: #333;
            padding: 5px;
            padding-left: 10px;

            p {
                font-size: 10px;
                margin: 0;
            }

            a {
                display: inline;
            }
        }

        .manage {
            background-color: rgba(0,0,0,0.8);
            padding: 5px;
            @include clearfix();

            a {
                float: right;
                font-size: 0.8rem;
                color: $primary-color;
            }
        }
    }
}

.compose-thread {
    #content {
        min-height: 300px;
    }
}

.recent-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 5px 0;

        blockquote, p {
            background-color: rgba(255,255,255,0.95);
            font-size: 0.8em;
            padding: 10px;
        }
    }
}

.recent-users {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 2px 0;

        a {
            display: block;
            padding: 5px;
            background-color: $primary-color;
            color: #fff;
        }
    }
}

.reply-form {
    display: none;
}

.og-post-wrapper, .posts {
    h1, h2, h3, h4, h5, h6 {
        color: #333;
    }
}

.posts {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
}

.og-post-wrapper {
    @include grid-row();
    margin: 0;
    max-width: none;

    padding: 10px;
    background-color: rgba(255,255,255,0.95);

    .og-post {
        @include grid-column(10);
        padding: 10px;
    }
}

.post {
    @include grid-row();

    margin: 5px 0;
    padding: 0;
    max-width: none;

    .content-wrapper {
        padding: 10px;
        background-color: rgba(255,255,255,0.95);
        @include grid-column(10);
    }

    .user-wrapper {
        font-weight: bold;

        p {
            color: #fff;
            text-shadow: #000 0 1px 0;
            background-color: rgba(0,0,0,0.85);
            line-height: 1.1;
            padding: 5px;
            margin-bottom: 0;
        }

        .post-permalink {
            color: #fff;
            text-shadow: #000 0 1px 0;
            font-weight: bold;
            font-size: 0.8rem;
            padding-left: 5px;
        }
    }

    .replies {
        list-style-type: none;
        margin: 5px 0;
        background-color: rgba(0,0,0,0.1);

        .reply {
            padding: 10px;
            padding-bottom: 5px;

            p {
                margin: 0;
            }

            .reply-attribution {
                font-size: 0.7rem;
            }
        }
    }
}

.user-wrapper {
    @include grid-column(2);
    padding: 0;
    padding-right: 10px;

    p {
        font-size: 12px;
    }

    .avatar {
        display: none;
        width: 100%;
        min-height: 40px; // just for testing
        border: 1px solid #ddd;
    }
}

.profile {

    .profile-description {
        padding: 10px;
        background-color: rgba(255,255,255,0.85);
        line-height: 1.4;
        margin-bottom: 15px;
    }

    .profile-website, .profile-facebook, .profile-twitter {
        background-color: rgba(0,0,0,.85);
        color: #fff;
        margin: 2px 0;
        padding: 5px 10px;
    }
}

