@import "settings";

@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
   "foundation/components/button-groups",
   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
   "foundation/components/type",
//   "foundation/components/offcanvas",
   "foundation/components/visibility";

body {
    padding: 10px;
}

h1 {
    font-family: 'Mate SC', serif;
}

a {

}

.reply-form {
    display: none;
}

.posts {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
}

.og-post {
    border: 1px solid #aaa;
    padding: 10px;
    background-color: #fafafa;
}

.post {
    @extend .row;

    margin: 5px 0;
    padding: 0;

    .user-wrapper {
        @extend .small-2;
        @extend .column;
        padding: 0;
        padding-right: 10px;

        .avatar {
            width: 100%;
            min-height: 40px; // just for testing
            border: 1px solid #ddd;
        }
    }

    .content-wrapper {
        padding: 10px;
        border: 1px solid #ddd;
        @extend .small-10;
        @extend .column;
    }
}



